*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 150rem;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    height: 6rem;
    padding: 0 2rem;
    background-color: #181828;
}

aside{
    display: none;
}

main{
    width: 100%;
    min-height: 55.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6rem;
    padding: 6rem 1rem 1rem 1rem;
}

h1{
    font-size: 2rem;
    margin-bottom: 4rem;
}


/* Estilos de menu */

#menu_movil{
    display: none;
    width: 100%;
    max-width: 50rem;
    position: absolute;
    top: 6rem;
    right: 0;
}

#menu_movil ul li{
    list-style: none;
}

#menu_movil ul li a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 4.4rem;
    max-width: 50rem;
    background-color: #00BCD4;
    padding-left: 1rem;
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

#menu_movil ul li:nth-child(n){
    border-bottom: 1px solid #fff;
}

#menu_aside{
    display: none;
}

#logo_header, #logo_header_login{
    font-size: 2rem;
    color: #fff;
}

#logo_header_login{
    margin: 0 auto;
}

#iconos_header{
    display: block;
}

#icono_cerrar_menu{
    display: none;
}


/* Estilos del logon */

#formulario_login{
    width: 38rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1.5rem 1rem;
}

#formulario_login label{
    margin-bottom: 0.3rem;
    font-weight: 700;
    font-size: 1.6rem;
}

#formulario_login input[type=text],
#formulario_login input[type=password]{
    width: 100%;
    height: 3.5rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #F5F5F5;
    font-size: 1.6rem;
    font-weight: 400;
}

#formulario_login #boton_ingresar{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.4rem;
    background-color: #00BCD4;
    border-radius: 5px;
    border: none;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.input_contenedor{
    position: relative;
}

.input_contenedor img{
    width: 3.4rem;
    position: absolute;
    top: 0;
    right: 1rem;
}


/* Estilos de administración-home */

#administracion{
    min-width: 39rem;
    max-width: 84rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.elemento_administracion{
    width: 19rem;
    height: 19rem;
    margin-bottom: 3rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elemento_administracion span:nth-child(1){
    font-size: 1.6rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 2rem;
}

.elemento_administracion span:nth-child(2){
    font-size: 1.8rem;
    color: #333;
    font-weight: 600;
}

#administracion div:nth-child(1){
    background-color: #EC7063;
}

#administracion div:nth-child(2){
    background-color: #AF7AC5;
}

#administracion div:nth-child(3){
    background-color: #5499C7;
}

#administracion div:nth-child(4){
    background-color: #48C9B0;
}

#administracion div:nth-child(5){
    background-color: #52BE80;
}

#administracion div:nth-child(6){
    background-color: #F4D03F;
}

#administracion div:nth-child(7){
    background-color: #EB984E;
}

#administracion div:nth-child(8){
    background-color: #808B96;
}


/* Estilos de tablas */

table{
    border-collapse: collapse;
    margin-bottom: 3rem;
    display: block;
}

tr{
    cursor: pointer;
}

tbody{
    height: 30rem;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
}

thead tr th{
    height: 3.9rem;
    padding: 0 1rem;
    background-color: #212331;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
}

thead tr th{
    border-right: 1px solid #fff;
}

thead tr th:last-child{
    border: none;
}

thead tr img, tbody tr img{
    width: 2.7rem;
}

tbody tr{
    border-right: 1px solid #ccc;
    font-size: 1.4rem;
    color: #5F727F;
}

tbody tr:hover{
    background-color: crimson !important;
    color: #fff;
}

tbody tr td:last-child{
    border: none;
}

tbody tr:nth-child(odd){
    background-color: #F4F6F7 ;
}

tbody tr:nth-child(even){
    background-color:#E6EBE9;
}

.id_tabla{
    width: 4rem;
}

.fecha_tabla{
    width: 10rem;
}

.valor_tabla{
    width: 10rem;
}

.gastos_tabla{
    width: 8rem;
}

.canal_tabla{
    width: 12rem;
}

.ventaMl_tabla{
    width: 15rem;
}

.entregado_tabla{
    width: 4.8rem;
}

.cobrado_tabla{
    width: 4.8rem;
}

.id_tabla, .fecha_tabla, .valor_tabla, .gastos_tabla, .canal_tabla, .ventaMl_tabla, .entregado_tabla, .cobrado_tabla{
    border-right: 1px solid #ccc;
}

.centrar_texto{
    text-align: center;
}

.alinear_izquierda_texto{
    text-align: left;
    padding-left: 1rem;
}

.alinear_derecha_texto{
    text-align: right;
    padding-right: 1rem;
}

.boton_accion{
    display: inline-flex;
    padding: 1rem 2rem;
    background-color: #00BCD4;
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.ocultar{
    display: none;
}